/* normalize css starts here */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* normalize css ends here */


html {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    color: #222;
}

body {
    width: 250px;
}

.app {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

.maxbid-label {
    font-size: 18px;
    margin-bottom: 16px;
}

.maxbid-input {
    width: 160px;
    text-align: center;
    font-size: 24px;
    margin-bottom: 16px;
    padding: 4px 0;
}

.button {
    border: 0;
    display: inline-block;
    padding: 10px 20px;
    margin-right: 4px;
    margin-left: 4px;
    background-color: bisque;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    text-decoration: none;
    transition: transform .2s ease;
    user-select: none;
}

.button-start {
    background: lightgreen;
}

.button-stop {
    background: lightsalmon;
}

.maxbid-input:focus,
.button:focus {
    outline-color: lightskyblue;
}
